.main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 70px;
}

.main__description-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 600px;
}

.description-section__title{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}

.description-section__title span{
    color: #7bb4ff;
}

.description-section__img-icon{
    height: 400px;
    display: flex;
    align-items: center;
}

.description-section__img-icon img{
    width: 300px;
    height: 300px;
}

.description-section__description{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    width: fit-content;
    margin: 0 auto;
    word-wrap: break-word;
    text-align: center;
    overflow-wrap: break-word;
    display: inline-block;
}

.main__sintomas-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sintomas-section__div-header{
    display: flex;
    align-items: center;
    gap: 300px;
}

.sintomas-section__div-header h3{
    font-size: 60px;
    letter-spacing: 2px;
}

.sintomas-section__div-content{
    display: flex;
    align-items: center;
    gap: 60px;
}

.div-content__sintomas-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-content__sintomas-list li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-content__sintomas-list li p{
    text-align: center;
    font-size: 13.3px;
    font-weight: 600;
    width: 150px;
}

.div-content__img-men{
    width: 400px;
}

.div-content__img-men img{
    width: 100%;
    height: 100%;
}

.img-sintomas{
    width: 70px;
    height: 70px;
}

.img-sintomas img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.div-content__div-contact{
    background-color: #d8d9de;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.div-content__div-contact h3{
    font-size: 20px;
    width: 190px;
    font-weight: bold;
    margin-bottom: 10px;
}

.div-contact__contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-contact__contacts p{
    background-color: rgb(190, 190, 190);
    padding: 10px 0 10px 10px ;
    border-radius: 10px;
    font-weight: 600;
}

.main__tratamentos-section h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}

.div-img{
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.tratamentos-section-img{
    height: 500px;
    background-repeat: no-repeat;
     background-image: url(img/background.jpg);
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-top-right-radius: 40px ;
    border-bottom-left-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}


#img-1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/cirugia.avif);
}

#img-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(img/radio.avif) ;
   
}

#img-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/remedio.avif);
     
}

.div-content__title{
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.div-content__description{
     color: white;
    font-size: 16px;
    font-weight: 400;
}

.section-diagnostico h3{
    font-size: 35px;
    font-weight: 700;
    color: #7bb4ff;
    width: 45%;
    margin-bottom: 30px;
}

.section-diagnostico__div-content{
    display: flex;
    justify-content: space-between;
}

.div-content__div-img-brasil{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 70px;
}

.tratamentos-section-img__div-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-content__div-img-brasil figure{
    position: relative;
    border: 1px solid black;
}

#correto{
    width: 60px;
    position: absolute;
    top: -33px;
    left: -35px;
}

#negative{
    width: 60px;
    position: absolute;
    top: -23px;
    left: -35px;
}

.div-content__div-img-brasil{
    width: 280px;
    height: max-content;
}

.div-content__div-img-brasil figure{
    height: 90px;
    border-radius: 15px;
    border: 3px solid #e7191f;
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.div-content__div-img-brasil figure:first-child{
    border-color: #0c689d;
}

.div-img-brasil__brasil{
    width: 600px;
}

.main__section-prevencao {
    background-color: #7bb4ff;
    padding: 40px;
    width: 100vw; 
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.section-prevencao{
    display: flex;
    gap: 50px;
    padding: 30px;
    align-items: center;
}

.section-prevencao__div-description{
    width: 400px;
}

.section-prevencao__div-description h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section-prevencao__div-description p{
    line-height: 25px;
    font-size: 20px;
}

.main__section-prevencao__prevention-list{
    display: flex;
    gap: 20px;
    width: max-content;
}

.main__section-prevencao__prevention-list li {
    background-repeat: no-repeat;
    width: 230px;
    height: 400px;
    border-top-left-radius: 40px ;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
    gap: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    line-height: 25px;
}

#dieta{
    width: 90px;

}

#saude{
    width: 80px;
}

#bebida{
    width: 110px;
}

#azul-medio{
    background-image:url(img/fundoazulclaro.png) ;
        background-size: auto 120%;
}

#azul-escuro{
    background-image: url(img/azulescuro.png);
}

#azul-bebe{
    background-image: url(img/azulbebe.png);
}

.comment {
  min-width: 300px;
  
}

#carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

#carousel-content {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

#carousel {
  overflow: hidden;
  flex: 1;
  position: relative;
}

#carousel-content {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}


#scroll-left,
#scroll-right {
position: absolute; 
top: 50%; 
transform: translateY(-50%); 
background: none;
border: none;
font-size: 24px;
cursor: pointer;
color: #333;
z-index: 10; 
}

#scroll-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#scroll-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#carousel::before,
#carousel::after {
content: '';
position: absolute;
top: 0;
width: 50px;
height: 100%;
pointer-events: none;
z-index: 1;
transition: opacity 0.3s ease;
opacity: 1; 
}

#carousel::before {
left: 0;
background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

#carousel::after {
right: 0;
background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

#carousel::before {
  opacity: var(--show-left-gradient, 1);
}

#carousel::after {
  opacity: var(--show-right-gradient, 1);
}

.img-men {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    overflow: hidden;   
}

.img-men img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
}



.main__section-depoimentos {
    padding: 20px;
  position: relative;
  padding-bottom: 40px;
}

.main__section-depoimentos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.main__section-depoimentos::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px; 
  height: 130px; 
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.main__section-depoimentos h3{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-bottom: 100px;
}

.comment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100px;
    flex: 0 0 auto;
}

.comment strong{
    color: #9de5f1;
    font-weight: 700;
    font-size: 18px;
}

.comment p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 23px;
}

.button-scroll{
    font-size: 20px;
    font-weight: 800;
}

.section-doutor{
    background-color:  #030404;
    height: 600px;
    position: relative;
}

.section-doutor div:first-child {
  background-color: #040505;
  width: 85%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
  z-index: 1;
  color: white;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden; 
}

.img-dr {
  height: 100%;
  width: 370px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.description-doctor {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: right;
  position: relative;
  text-align: center;
  z-index: 2;
   line-height: 30px;
   margin-left: 10px;
}

.description-doctor p:first-child{
    font-size: 18px;
    font-weight: 400;
}

.description-doctor strong{
    font-weight: 700;
    margin-top: 20px;
}

.description-doctor h3 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.section-duvida h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 7px;
}

.div-list__duvidas-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.duvidas-list__duvidas{
    width: 100%;
    display: flex;
}

.duvidas__content{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;
}

.duvidas__content-user{
    width: 60%;
}

.duvidas__content-user h4{
    font-size: 18px;
    font-weight: 600;
}

.duvidas__content-user p{
   margin-top: 10px;
   font-weight: 400;
   font-size: 14px;
}

.duvidas__content-doctor{
    display: flex;
    gap: 20px;
    width: 80%;
}

.duvidas__content-doctor img{
    width: 40px;
    height: 40px;
}

.duvidas__content-doctor div{
    margin-top: 20px;
}

.duvidas__content-doctor div h4{
    font-size: 18px;
    font-weight: 600;
}

.duvidas__content-doctor div p{
    margin-top: 10px;
   font-weight: 400;
   font-size: 14px;
}

.div-list__comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-top: 30px;
    gap: 15px;
}

.div-list__comment textarea {
  width: 400px;
  height: 100px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 16px;
  font-size: 16px;
  resize: none; 
  outline: none; 
  font-family: inherit;
}

.div-list__comment textarea::placeholder {
  color: #ccc;
}

.div-list__comment p{
    font-weight: 700;
    font-size: 18px;
}

.div-list__comment button{
    padding: 5px 10px;
    align-self: self-start;
    margin-left: 40px;
    border-radius: 12px;
    background-color: #0079a9;
    border: 1px none;
    color: white;
    font-size: 12px;
}

.div-list__comment button:hover{
    background-color: #3c8baa;
}

button{
    cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1000px){
    .container{
        width: 90%;
    }
    .section-prevencao{
        flex-direction: column;
    }

    .main__section-prevencao__prevention-list{
        flex-direction: column;
    }
    .sintomas-section__div-content{
        flex-direction: column;
    }
    .div-img{
        flex-direction: column;
        align-items: center;
    }
    .tratamentos-section-img{
        width: 80%;
    }
    .div-img-brasil__brasil{
        width: 70%;
    }
    
.section-diagnostico__div-content{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
}